<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>
<head th:replace="header :: copy2"></head>

<script src="js/jquery-2.1.1.min.js"></script>
<style>
	.selected{
		cursor: pointer;
	}
	.selected:hover{
		background-color: #edbe7b;
		color: white;
	}
	.seleccionada{
		background-color: #eab177;
		color: white;
	}
	#scroll1 {
     overflow-y:auto !important;
     overflow-x:hidden !important;
     height:200px;
	}
	#scroll1 table {
    width:80%;
    background-color:#F2F2F2;
	}
	#bt_add {
		padding: 30px;
	    border-radius: 200px 200px 200px 200px;
		-moz-border-radius: 200px 200px 200px 200px;
		-webkit-border-radius: 200px 200px 200px 200px;
		border: 0px solid #000000;
		color: white;
	}
	#bt_del {
		padding: 30px;
	    border-radius: 200px 200px 200px 200px;
		-moz-border-radius: 200px 200px 200px 200px;
		-webkit-border-radius: 200px 200px 200px 200px;
		border: 0px solid #000000;
		color: white;
	}
</style>
<script th:inline="javascript">
	$(document).ready(function(){
		$('#bt_add').click(function(){
			agregar();
		});
	});
	
	var cont=0;
	var mayor=0;
	var seleccionado=false;
	var fila_anterior='';
	var total=0;
	
	function agregar(){
		var lista = document.getElementById("opciones");
		var indiceSeleccionado = lista.selectedIndex;
		var opcionSeleccionada = lista.options[indiceSeleccionado]; 
		var textoSeleccionado = opcionSeleccionada.text;
		var valorSeleccionado = opcionSeleccionada.value;
		var payments = [[${paymentList}]];
		
			
		var payment = $.grep(payments, function( n, i ) {
			  return n.id_p == valorSeleccionado	;
		});
		
		
		cont++;
		mayor = cont;
		
	
		var fila='<tr class="selected" id="fila'+cont+'" onclick="seleccionar(this.id);"><td>'+payment[0].descripcion+'</td><td>'+textoSeleccionado+'</td><td>'+payment[0].monto+'</td><td><a class="btn btn-danger" style= "padding: 3.5px 10px; border-radius: 200px !important;" onclick="eliminar(this.parentNode.parentNode.rowIndex);"><span class="glyphicon glyphicon-trash"></span>Eliminar</a></td></tr>';
		
		$('#tabla').prepend(fila);
		
		sumarMonto();

	}
	function seleccionar(id_fila){
		//verificar que no haya otro selecionado y quitar la seleccion
		if(seleccionado == true){
			$('#'+fila_anterior).removeClass('seleccionada');
			$('#'+id_fila).addClass('seleccionada');
			fila_anterior=id_fila;
		}else{
			$('#'+id_fila).addClass('seleccionada');
			seleccionado=true;
			fila_anterior=id_fila;
		}

	}

	function eliminar(i){
		//Se obtiene la tabla con el id "tabla",
		//luego se obtiene la fila que se va a eliminar por el numero de orden con respecto a la tabla,
		//finalmente se obtiene la columna para abstraer su numero.
		var t = document.getElementById("tabla"),
			r = t.getElementsByTagName("tr")[i],
			d = r.getElementsByTagName("td")[2]; 

		alertify.confirm("Estas seguro de que quiere eliminar",function(e){
			if (e) {
				t.deleteRow(i);
				
				total=total-parseInt(d.innerHTML);
				recargar();
			}
		});
	}
	
	function sumarMonto(){
		var t = document.getElementById("tabla"),
			r = t.getElementsByTagName("tr")[1],
			d = r.getElementsByTagName("td")[2];
		
		total=total+parseInt(d.innerHTML);
		
		recargar();
	}
	
	function recargar(){
		var reload= `<h3>Monto Total: </h3>
					 <input type="number" class="form-control" value="${total}" disabled="" style="width: 100px;"/>
					 <div class="clearfix"></div>`;

		document.getElementById('monto').innerHTML = reload;
	}
	
</script>

<body>
	<div class="container">
		<center><h1 style=" padding-top: 40px; padding-bottom: 40px;">Seleccionar detalle de pago</h1></center>
	
		<div class="col-md-12">
			<div class="container" style="width: 80%;">
				<h3> Bienvenido <span th:text="${account.owner}">number></span></h3>
				<dl class="dl-horizontal">
					<dt>Código</dt>
					<dd th:text="${account.number}">number</dd>
					<dt>E-mail</dt>
					<dd th:text="${account.email}">number</dd>
					<dt>EAP</dt>
					<dd th:text="${account.eap}">number</dd>
					
					
				</dl>
				
				<div class="form-group">
			    	<label for="inputEmail3" class="col-sm-3 control-label" style= "font-size: 0.8em; padding-top: 5px;">Seleccionar detalle de pago:</label>
			    	<div class="col-sm-4">
			      		<select id="opciones" name="opciones" class="form-control" th:field="*{payment}">
						  	<option th:each="payment : ${paymentList}" 
          							th:value="${payment.id_p}" 
          							th:text="${payment.concepto}">
          					</option>
						</select>
			    	</div>
			    	<div class="col-sm-4">
			      		<a id="bt_add" class="btn btn-primary" style= "padding: 3.5px 10px;"><span class="glyphicon glyphicon-shopping-cart"></span> Agregar</a>
			    	</div>
			    	<div class="clearfix"> </div>
			  	</div>
				<div style="min-height: 300px;">
					<div id="scroll1">
					  	<table id="tabla" class="table table-bordered" style="width: 100%;">
						  	<thead>
								<tr>
									<td class="active">Descripción</td>
								  	<td class="success">Concepto</td>
								  	<td class="warning">Monto (S/.)</td>
								  	<td class="warning">Editar</td>
								</tr>
							</thead>  	
						</table>
					</div>
					<div class="form-group">
					
						<div id="monto" class="col-md-4" style="padding: 20px;">
					   		<h3>Monto Total: </h3>
					   		<input type="number" class="form-control" value="" placeholder="S/." disabled="" style="width: 100px;"/>
					   		<div class="clearfix"></div>
					    </div>
					    <div class="col-md-8">
					    	<a th:href="@{/accounts/search}" class="btn btn-primary" style="float: right; padding: 20px; margin: 5px;"><span class="glyphicon glyphicon-send"></span> Salir</a>
					    	<a th:href="@{/accounts/pagos}" type="submit" class="btn btn-primary" style="float: right; padding: 20px; margin: 5px;"><span class="glyphicon glyphicon-repeat"></span> Procesar</a>
					    	<div class="clearfix"></div>
					    </div>
					    <div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"> </div>
				</div>
			</div>		
		</div>

	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    
	<div th:replace="footer :: copy3"></div>
</body>
</html>