<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>
<head th:replace="header :: copy2"></head>

<script src="js/jquery-2.1.1.min.js"></script>
<style>
	.selected{
		cursor: pointer;
	}
	.selected:hover{
		background-color: #7FB3D5;
		color: white;
	}
	.seleccionada{
		background-color: #1F618D;
		color: white;
	}
</style>
<script>
	$(document).ready(function(){
		$('#bt_add').click(function(){
			agregar();
		});
		$('#bt_del').click(function(){
			eliminar(id_fila_selected);
		});
		$('#bt_delall').click(function(){
			eliminarTodasFilas();
		});
		

	});
	var cont=0;
	var id_fila_selected=[];

	function agregar(){
		var lista = document.getElementById("opciones");
		var indiceSeleccionado = lista.selectedIndex;
		var opcionSeleccionada = lista.options[indiceSeleccionado]; 
		var textoSeleccionado = opcionSeleccionada.text;
		var valorSeleccionado = opcionSeleccionada.value;
		cont++;
	
		var fila='<tr class="selected" id="fila'+cont+'" onclick="seleccionar(this.id);"><td>'+cont+'</td><td>'+valorSeleccionado+'</td><td>Llamar de la BD</td><td>Llamar de la BD</td></tr>';
		
		$('#tabla').append(fila);
	
		reordenar();
	}

	function seleccionar(id_fila){
		if($('#'+id_fila).hasClass('seleccionada')){
			$('#'+id_fila).removeClass('seleccionada');
		}
		else{
			$('#'+id_fila).addClass('seleccionada');
		}
		//2702id_fila_selected=id_fila;
		id_fila_selected.push(id_fila);
	}
	
	function eliminar(id_fila){
		/*$('#'+id_fila).remove();
		reordenar();*/
		for(var i = 0; i != id_fila.length; i++){
			$('#'+id_fila[i]).remove();
		}
		reordenar();
	}
	
	function reordenar(){
		var num=1;
		$('#tabla tbody tr').each(function(){
			$(this).find('td').eq(0).text(num);
			num++;
		});
	}
</script>

<body>
	<div class="container">
		<center><h1 style=" padding-top: 55px; padding-bottom: 40px;">Seleccionar detalle de pago</h1></center>
	
		<div class="col-md-12">
			<div class="row">
				<h3> Bienvenido <span th:text="${account.owner}">number></span></h3>
				<dl class="dl-horizontal">
					<dt>Código</dt>
					<dd th:text="${account.number}">number</dd>
					<dt>E-mail</dt>
					<dd th:text="${account.email}">number</dd>
					<dt>EAP</dt>
					<dd th:text="${account.eap}">number</dd>
					
					
				</dl>
				
				<div class="form-group">
			    	<label for="inputEmail3" class="col-sm-3 control-label" style= "font-size: 0.8em; padding-top: 5px;">Seleccionar detalle de pago:</label>
			    	<div class="col-sm-4">
			      		<select id="opciones" name="opciones" class="form-control">
						  	<option>Carnet Universitario</option>
						  	<option>Laboratorio</option>
						  	<option>Autoseguro</option>
						  	<option>2da Repitancia</option>
						  	<option>3ra Repitancia</option>
						</select>
			    	</div>
			    	<div class="col-sm-4">
			      		<a id="bt_add" class="btn btn-primary" style= "padding: 3.5px 10px;">Agregar</a>
			      		<a id="bt_del" class="btn btn-danger" style= "padding: 3.5px 10px;">Eliminar</a>
			    	</div>
			    	<div class="clearfix"> </div>
			  	</div>
				<div style="min-height: 300px;">
				  	<table id="tabla" class="table table-bordered">
					  	<thead>
							<tr>
								<td class="info">N°</td>
								<td class="active">Descripción</td>
							  	<td class="success">Concepto</td>
							  	<td class="warning">Monto</td>
							</tr>
						</thead>  	
					</table>
					<div class="clearfix"> </div>
				</div>
			</div>		
		</div>
	
	</div>
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    
	<div th:replace="footer :: copy3"></div>
</body>
</html>
