<!DOCTYPE html>
<html>
<head>
	<title>Codigo no encontrado</title>
	<link rel="stylesheet" href="css/styleError.css"/>
	

	<!-- For-Mobile-Apps-and-Meta-Tags -->
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //For-Mobile-Apps-and-Meta-Tags -->

</head>
<body>
	<div class="main">
		<div class="text">
			<div class="left">
				<h2>404</h2>
				<h3 style="color: #1B2631;">Codigo no encontrado</h3>
			</div>
			<div class="right">
				<h3 style="color: #1B2631;">Lo sentimos!</h3>
				<h4 style="color: white;">El codigo ingresado es incorrecto, por favor vuelva a intentar</h4>
				<a th:href="@{/accounts/search}">Volver a Intentar</a>
			</div>
			<div class="clear"></div>
		</div>
		<div class="footer">
			<p style="color:black; font-weight: bold;">Sistema Pasarela de Pagos FISI | Facultad de Ingenieria de Sistemas e Informatica</p>
		</div>
	</div>
</body>
</html>