<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:fragment="copy">
	<title>Pasarela de Pagos</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
	
	<!-- Custom Theme files -->
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
	
	<!--js-->
	<script src="js/jquery-2.1.1.min.js"></script> 
	<script src="js/alertify.min.js"></script>
	
	<!--icons-css-->
	<link href="css/font-awesome.css" rel="stylesheet"/>
	<link href="css/alertify.core.css"  rel="stylesheet"/>
  	<link href="css/alertify.default.css"  rel="stylesheet"/>
	 
</head>

<body th:fragment="copy2">
	
	<div class="header" style="height: 150px; width: 100%; background:#61859F; text-align: center; border-bottom: 2px solid #D6DBDF;">
		<img style="height:100%; width: 100%;" src="images/header.png"/>
	</div>
	
</body>
</html>