<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>

<div class="parallax-container" style="padding-top: 8%;">
      		<div class="container bordered">
	  			<div class="row card-panel #eeeeee grey lighten-3">
		    		<center><h4>Verificacion del administrador</h4></center>
		      		<div class="row">
		        		<div class="input-field col s6 offset-s3">
			         		<label for="first_name">Ingrese su codigo</label>
		        		</div>
		      		</div>
	  			</div>
  			</div>
		 
			<div class="container">
		 		<div class="row">
		 			<div class="col s3 offset-s3">
		 				<a class="waves-effect waves-light btn-large #1a237e indigo darken-4">Verificar</a>		
		 			</div>
		 			<div class="col s3 offset-s3">
		 				<a class="waves-effect waves-light btn-large #1a237e indigo darken-4">Regresar</a>		
		 			</div>	
		 		</div>
  			</div>
    	</div>

	

<div th:replace="footer :: copy"></div>

</body>
</html>
