<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>

<link href="css/stylePasarela.css" rel="stylesheet" type="text/css" media="all"/>

<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

<head th:replace="header :: copy2"></head>

</head>
<body style="margin:0 !important;">
<div class="check" style="width: 40%;">
    <div class="check-head">
       <h2><span class="header-text">Transacción</span></h2>
	   <small class="strip" style="width: 100%;"> </small>
	</div>
	<div class="check-bottom">
	     <form>
		    <p>Nombre de Propietario</p>
		    <input type="text" placeholder="Nombre" required="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}"/>
			<p>Número de Tarjeta</p>
			<input type="text" placeholder="Numero" required="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}"/>
			<p>Correo del Propietario</p>
			<input type="text" placeholder="E-mail" required="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}"/>
			<p>Fecha de Expiración</p>
			<div class="expir-picker1">
						<ul style="padding-left:0 !important;">						
						<li>
							<select class="drop-date">										
								<option>Enero</option>
								<option>Febrero</option>
								<option>Marzo</option>
								<option>Abril</option>
								<option>Mayo</option>
								<option>Junio</option>
								<option>Julio</option>
								<option>Agosto</option>
								<option>Septiembre</option>
								<option>Octubre</option>
								<option>Noviembre</option>
								<option>Diciembre</option>
							</select>
						</li>	
                        <li>
							<select class="drop-date">							
								<option>2015</option>
								<option>2016</option>
								<option>2017</option>
								<option>2018</option>
								<option>2019</option>
								<option>2020</option>
								<option>2021</option>
								<option>2022</option>
								<option>2023</option>
								<option>2024</option>
								<option>2025</option>	
	                            <option>2026</option>							
							</select>
						</li>						
					<li><a href="#"><i class="fa fa-calendar-o"></i></a></li>
				</ul>		
			</div>
			<div class="cvv-numb">
			  <div class="cvv-text">
			    <p>Numero CVV</p>
			    <input type="text" class="c-num" value="" required="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}"/>
			  </div>
			  <div class="cvv-para">
			    <p>Por favor, compruebe este campo</p>
			  </div>
			   
			   
			   <div class="clear"> </div>
			</div>
			<div style="text-align:center;">
				<a id="continuar" class="col-md-8" th:href="@{/accounts/exito}" value="">Confirmar Pago</a>
		 	</div>
		 </form>
	</div>
</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
	<div th:replace="footer :: copy3"></div>
	<div th:replace="footer :: copy4"></div>

</body>
</html>