

/*-- Reset Code --*/
body {
	padding: 0;
	margin: 0;
	background: #FFF;
	font-family: 'Open Sans', sans-serif;
}
body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}
body a:hover {
	text-decoration: none;
}
body a:focus, a:hover {
	text-decoration: none;
}
input[type="button"], input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}
p {
	margin:0;
}
ul {
	margin:0;
	padding:0;
}
label {
	margin:0;
}
a:focus, a:hover {
	text-decoration: none;
	outline: none
}
img {
	width: 100%;
}
.clear{
	clear:both;
}
/*-- //Reset Code --*/
.main{
background:url('../images/login2.jpg') no-repeat 0px 0px;
background-size:cover;
min-height:799px;
}
.text{
	width:50%;
	margin:0 auto;
	padding-top:330px;
}
.left{
	float:left;
	width:49%;

}
.left h2{
	font-size:140px;
	color:#273746;
	
}
.right {
    float: left;
    width: 46%;
    padding-left: 4%;
	border-left:1px solid #273746;
}
.right h3{
	font-size:40px;
	padding-bottom:10px;
	text-align:left;
}
.right h4{
	font-size:20px;
	text-align:left;
	width:88%;
}
.right img {
    width: 13%;
    padding-left: 10px;
}
.right a{
	color: #273746;
    border: 2px solid #273746;
    padding: 8px 15px 8px 15px;
    display: inline-block;
    margin-top: 10px;
    font-size: 16px;
}
.right a:hover{
	color:#21618C;
	border:2px solid #21618C;
}
.footer {
    padding-top: 264px;
    width: 100%;
    text-align: center;
}
.footer p{
	color:#273746;
	font-size:16px;
}
.footer a{
	color:#273746;
}
.footer a:hover{
	color:#fff;
}

@media (max-width: 1600px){
	.text{
		width:50%;
		margin:0 auto;
		padding-top:340px;
	}
}
@media (max-width: 1440px){
	.text {
		padding-top: 300px;
	}
}
@media (max-width: 1366px){
	.text {
		padding-top: 275px;
	}
	.left h2{
		font-size:130px;
	}
	.right h4 {
		font-size: 19px;
    }
}

@media (max-width: 1280px){
	.text {
		padding-top: 270px;
	}
	.left h2{
		font-size:120px;
		padding-left:20px;
	}
	
}
@media (max-width: 1080px){
	.main {
		min-height: 598px;
	}
	.text {
		padding-top: 218px;
	}
	.left h2 {
		font-size: 110px;
		padding-top:10px;
	}
	.right h4 {
		font-size: 16px;
	}
	
	.footer {
		padding-top: 188px;
	}
}
@media (max-width: 1024px){
	.main {
	
		min-height: 674px;
	}
	.text {
		padding-top: 207px;
	}
	.left {
		float: left;
		width: 55%;
	}
	/*-- agileits --*/
	.left h2 {
		font-size: 105px;
		padding-left:70px;
	}
	.right {
		float: left;
		width: 35%;
		padding-left: 4%;
		border-left: 1px solid #273746;
	}
	.right h3 {
		font-size: 38px;
	}
	.right a{
		font-size:14px;
	}
	.footer {
		padding-top: 170px;
	}
}
@media (max-width: 991px){
	.left {
		width: 59%;
	}
	.right {
		width: 32%;
		padding-left: 3%;
	}
	.right h4 {
		font-size: 15px;
		width:100%;
	}
}
@media (max-width: 900px){
	.main {
		min-height: 600px;
	}
	.text {
		padding-top: 180px;
	}

	.left {
		width: 55%;
	}
	.left h2 {
		font-size: 100px;
		padding:15px 0px 0px 53px;
		
	}
	/*-- w3layouts--*/
	.right {
		width: 41%;
   }
	.right h4 {
		width: 97%;
	}
}
@media (max-width: 800px){
    .main {
		background: url('../images/login2.jpg') no-repeat -46px 0px;
		background-size:cover;
	}
}
@media (max-width: 768px){
    .main {
		background: url('../images/login2.jpg') no-repeat -354px 0px;
		min-height: 929px;
		background-size:cover;
	}
	.text {
		width:65%;
		padding-top: 325px;
	}
	.left{
		width:50%;
	}
	.left h2 {
		font-size: 100px;
		padding: 15px 0px 0px 0px;
	}
	.right{
		width:46%;
	}
	.footer {
		padding-top: 250px;
	}
}
@media (max-width: 736px){
	.main {
		background: url('../images/login2.jpg') no-repeat -215px 0px;
		min-height: 715px;
		background-size: cover;
	}
	.text {
		width: 65%;
		padding-top: 241px;
	}
	.footer {
	padding-top: 200px;
	/*-- agileits --*/
	}
}
@media (max-width: 667px){
	.main {
		background: url('../images/login2.jpg') no-repeat -143px 0px;
		min-height: 586px;
		background-size: cover;
	}
	.text {
		width: 64%;
		padding-top: 180px;
	}
	.right h4 {
		width: 93%;
	}
	.footer {
		padding-top: 168px;
	}
}
@media (max-width: 600px){
	.main {
		background: url('../images/login2.jpg') no-repeat -175px 0px;
		min-height: 586px;
		background-size: cover;
	}
}
